/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/07/2018, 06:19:21
    Author     : almis
*/

body {
    background: #256F5B;
    font-family: "Arial Narrow";
    color: white;
}

h1 {
    font-size: xx-large;
    font-style: italic;
}

p {
    font-weight: bolder;
    background: #468B78;
}

/*agregamos las clases*/

.resaltado {
    background: #9E354A;
    font-weight: bold;
}

.nuevaClaseCss {
    font-family: "Century Gothic";
    font-weight: bold;
    background: #4F0010;
}

