/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/07/2018, 06:43:28
    Author     : almis
*/

body {
    background: #f1f3fe;
    font-family: "Comic Sans MS";
}

caption {
    height: 30pt;
    font-weight: bold;
    color: #004080;
}

table {
    width: 500pt;
    border-width: 1pt;
    border-style: solid;
}

th {
    text-align: center;
    color: #4d4d4d;
    background: #a8d3ff;
}

td {
    text-align: justify;
    color: #5b5b5b;
    background: #f5f5f5;
    font-size: small;
    vertical-align: middle;
}

.row1 {
    background: #ffffff;
}

.row2 {
    background: #e5e5e5;
}
