#container div {
    background: gold;
    padding: 10px;
    width: 80px;
    height: 80px;
    margin: 10px;
}

#container {
    width: 600px;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    border: dashed gray;
    
}

#one:hover {
    transform: rotate(45deg);
}

#two:hover {
    transform: translate(0px, 15px);
}

#three:hover {
    transform: skew(20deg);
}

#four:hover {
    transform: scale(1.5);
}

#five:hover {
    transform: scale(1.2) skew(20deg);
    transform-origin: center bottom;
}