#container div {
    background: gold;
    padding: 10px;
    width: 80px;
    height: 80px;
    margin: 10px;
    
    transition: all 0.5s ease;
}

#container {
    width: 600px;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    border: dashed gray;
    
}

#one:hover {
    transform: rotate(45deg);
    background: red;
}

#two:hover {
    transform: translate(0px, 15px);
    background: red;
}

#three:hover {
    transform: skew(20deg);
    background: red;
}

#four:hover {
    transform: scale(1.5);
    background: red;
}

#five:hover {
    transform: scale(1.2) skew(20deg);
    background: red;
    transform-origin: center bottom;
}