/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/09/2018, 06:24:22
    Author     : almis
*/

.show_menu {
    display: block;
}

.hide_menu {
    display: none;
}

.view_video {
    width: 640px;
    height: 360px;
}